@model SprawdzianSzymonLesnik.Models.Kurs

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Kurs</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NazwaKursu)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NazwaKursu)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DataRozpoczecia)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DataRozpoczecia)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DataZakonczenia)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DataZakonczenia)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.KursId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
