@model IEnumerable<SprawdzianSzymonLesnik.Models.Kurs>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.NazwaKursu)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DataRozpoczecia)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DataZakonczenia)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NazwaKursu)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DataRozpoczecia)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DataZakonczenia)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.KursId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.KursId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.KursId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
